body {
  text-align: center;
  font-family: 'Poppins', sans-serif;
  background-image: url('https://images.unsplash.com/photo-1506744038136-46273834b3fb');
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  padding-top: 100px;
}

h1 {
  font-size: 42px;
  color: #ffcc00;
  text-shadow: 2px 2px 5px #000;
}

p {
  font-size: 20px;
  background-color: rgba(0, 0, 0, 0.5);
  display: inline-block;
  padding: 12px;
  border-radius: 10px;
  margin: 10px;
}
